.container {
    margin-top: 20px;
}

.aside {
    background-color: aliceblue;
    border-radius: 20px;
    max-height: 550px;
}

.pokemon-card-aside {
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

.pokemon-card-aside img {
    width: 350px;
    height: 350px;
}

.pokemon-information {
    border-radius: 20px;
    width: 100%;
    padding-bottom: 20px;
}

.pokemon-information h3 {
    text-align: center;
}

.pokemon-sections-information {
    text-align: center;
}

.pokemon-sections-information .btn {
    border-radius: 20px;
    margin: 5px;
} 

.pokemon-details-aside {
    margin-top: 25px;
    width: 100%;
}

.pokemon-details-aside h5 {
    text-align: center;
}

.pokemon-stats-information {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-stats-information div {
    width: 150px;
    margin: 10px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    border-radius: 20px;
}

.pokemon-stats-information h5 {
    margin-top: 10px;
    font-size: 17px;
}

h4 {
    text-align: center;
}

.pokemon-abilities-information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-abilities-information div {
    width: 100px;
    background-color: rgb(194, 255, 194);
    margin: 16px;
    border-radius: 20px;
}

.pokemon-abilities-information p {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}

.pokemon-moves-information div {
    float: left;
    width: 100px;
    background-color: rgb(250, 138, 53);
    margin: 16px;
    border-radius: 20px;
}

.pokemon-moves-information p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.card-subtitle {
    margin-top: 10px;
}

.content-places {
    text-align: center;
}

.pokemon-places-versions {
    display: inline-block;
    background-color: aliceblue;
    width: 100px;
    border-radius: 18px;
    border:solid rgba(0, 0, 0, 0.28) 1px;
    margin: 5px;
}

.pokemon-places-levels {
    display: inline-block;
    background-color: aliceblue;
    width: 50px;
    border-radius: 18px;
    border:solid rgba(0, 0, 0, 0.28) 1px;
    margin: 5px;
}